<article>
    <div id="basic-info">
        <div id="post-title">
            <%- page.title %> 
        </div>
        
        <div id="post-date">
            <%- date(page.date, "YYYY-MM-DD") %> 
        </div>    
    </div>

    <div id="article-content">
        <%- page.content %>
    </div>

    <div id="article-toc">
        <%- toc(page.content,{
            class: toc,
            list_number: false,
            max_depth: 6,
            min_depth: 2
        }) %>
    </div>
</article>





 