<div id="basic-info">
    <div id="post-title">
        <%- page.title %> 
    </div>
    
    <div id="post-date">
        <%- date(page.date, "YYYY-MM-DD") %> 
    </div>    
</div>

<div id="article">
    <%- page.content %>
</div>



 