<foot id="footer">
    <div class="copyright">

    </div>

    <div class="framework-info">
        <span>Driven by </span>
        <a href="http://hexo.io">
            Hexo 
        </a>
        <span>| </span>
        <span>Themed by </span>
        <a>fiberless</a>
    </div>

</foot>