<foot id="footer">
    <div class="footer-layout">
        <div class="footer-text">
            <div class="copyright">

            </div>

            <div class="framework-info">
                <span>Driven by </span>
                <a href="http://hexo.io" class="hexo-site">
                    Hexo 
                </a>
                <span>| </span>
                <span>Themed by </span>
                <a href="https://github.com/cijiugechu/hexo-theme-fiberless" class="theme-site">fiberless</a>
            </div>
        </div>
    </div>
</foot>