<nav>
<div class="navbar">
    
        <% for(item in theme.nav){ %>
            <div class="nav-item">
                <a href="<%- theme.nav[item] %>" class="nav-item-link">
                    <%- item %>
                </a>
            </div> 
        <% } %> 
    
</div>
</nav>